body,p,span{
    font-family: 'Spartan', sans-serif;
	overflow-x: hidden;
}


/* Same Button Custom Style */
.header_btn {
	background: #fff !important;
	color: #3f63e5;
	border: none;
	padding: 11px 27px;
	font-size: 15px;
	border-radius: 30px;
	font-weight: 600;
	position: relative;
	z-index: 1;
	transition: .5s;
	overflow: hidden;
	transition-duration: .5s;
}
.header_button a:hover{
	color: #fff;
}
.header_btn::after{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 100%;
	background: #7672fe;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	transition: .5s;
	transition-duration: .5s;
}
.header_btn:hover::after{
	opacity: 1;
	visibility: visible;
	width: 100%;
}
/* Header Section */
.top_header{
    background: #e7e6e6;
}
.top_header img{
    width: 100px;
}

/* Header Menu */
ul.main_menu {
	margin-right: 62px;
}
ul.main_menu li a {
	text-decoration: none;
	display: inline-block;
	padding: 10px 13px;
	color: #5b5b5b;
	font-weight: 500;
	font-size: 13px;
	position: relative;
}
.active_after::after{
	content: "";
	position: absolute;
	width: 80%;
	height: 2px;
	top: 156%;
	left: 8px;
	background: #9a86e8;

}
ul.main_menu li .hover_active_a::after {
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	top: 156%;
	left: 8px;
	background: #9a86e8;
	visibility: hidden;
	transition: all .5s;
}
ul.main_menu li .hover_active_a:hover::after{
	visibility: visible;
	width: 80%;
}
/* DropDown Part */
ul.main_menu li{
	position: relative;
}
ul.main_menu li ul li .style_a {
	font-size: 12px !important;
	color: #fff;
	background: #0010ff;
	padding: 16px 17px;
}
ul.main_menu li ul {
	position: absolute;
	top: 163%;
	left: 0;
	width: 169px;
	padding: 18px;
	opacity: 0;
	visibility: hidden;
	transition: all .6s;
}
ul.main_menu li:hover ul{
	opacity: 1;
	visibility: visible;
}
/* Banner Section */
.banner_section {
	background: #edf6fe;
	height: 530px;
	display: flex;
	align-items: center;
    overflow: hidden;
}
.banner_content h2 {
	font-weight: 600;
	margin-bottom: 40px;
	margin-top: 25px;
	font-size: 33px;
}
.banner_content p {
	color: #7e8890;
	font-size: 15px;
	font-weight: 500;
}
.banner_content .btn-primary {
	background: #1d6df7;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	padding: 12px 16px;
	margin-top: 30px;
	border-radius: 30px;
	border: 1px solid transparent;
	transition: .5s ;
}
.banner_content .btn-primary:hover{
	background: #fff;
	color: #1d6df7;
	border: 1px solid #1d6df7;
}
.banner_img{
    position: relative;
}
.img_inner {
	position: absolute;
	top: -241px;
	left: 13%;
}
.banner_img img {
	border-radius: 50%;
	width: 682px;
	height: 669px;
}
    

/* Service Section */
.service_section{}
.section_title h5 {
	color: #9c88e7;
	font-size: 18px;
}
.section_title h1 {
	font-weight: 600;
	font-size: 33px;
	margin-bottom: 40px;
	position: relative;
}
.section_title h1::after {
	content: "";
	position: absolute;
	top: 107%;
	left: 3px;
	width: 43px;
	height: 3px;
	background: #9c88e7;
}
.section_title p{
    color: #7e8890;
	font-size: 15px;
	font-weight: 500;
}

/* Service Section */
.service_item {
	background: #f9fcff;
	padding: 25px;
	border-radius: 10px;
	box-shadow: 0px 0px 9px 0 rgba(0,0,0,.2);
    position: relative;
	transition: all .5s;
}
.service_item:hover{
	transform: scale(1.02);
	background: #3a4af2;
	color: #fff;
}
.card_bg {
	position: absolute;
	top: 158%;
	left: 53px;
	z-index: -1;
}
.service_item h3 {
	font-size: 18px;
	margin-bottom: 15px;
}
.service_item i {
	height: 64px;
	width: 64px;
	display: block;
	background: #5a51ea;
	color: #fff;
	font-size: 23px;
	border-radius: 50% 50% 50% 0;
	position: relative;
	line-height: 71px;
	text-align: center;
	transition: all .5s;
}
.service_item:hover i{
	background: #fff;
	color: #3a4af2;
}
.service_item i::after {
	content: "";
	position: absolute;
	top: 72px;
	left: 0;
	width: 27px;
	height: 2px;
	background: #9c89e7;
	transition: all .5s;
}
.service_item:hover i::after{
	width: 50px;
	background: #fff;
}
.service_item i:hover{
	background: #fff;
}
.service_item p {
	color: #b2b0b2;
	font-weight: 500;
	margin-top: 35px;
	font-size: 14px;
	transition: all .5s;
}
.service_item:hover p{
	color: #fff;
}

/* Get Redy Section */
.get_redy_section{
	background: url(https://i.ibb.co/myRbsv6/video-bg.jpg) no-repeat top center;
	background-size: cover;
	background-attachment: fixed;
	padding: 157px;
	position: relative;
	z-index: 1;
}
.get_redy_section::after{
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(1, 38, 58, 0.802);
	z-index: -1;
}
.content_text h6 {
	margin-bottom: 20px;
	font-size: 13px;
}
.content_text h2 {
	font-weight: 700;
	margin-bottom: 37px;
	position: relative;
}
.content_text h2::after {
	content: "";
	position: absolute;
	top: 53px;
	left: 356px;
	width: 82px;
	height: 2px;
	background: #fff;
}
.content_text p {
	font-size: 15px;
	font-weight: 400;
}

/* Video Button */
.video_btn {
	margin: auto;
	background: #fff;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	line-height: 84px;
	position: relative;
	z-index: 1;
	transition: all .7s;
}
.video_btn:hover{
	background: #3165eb;
}
.video_btn:hover a{
	color: #fff;
}
.video_btn a {
	padding: 28%;
	font-size: 20px;
	color: #2a2aca;
	margin-top: 50px;
	border-radius: 50%;
	transition: all .7s;
}
.video_btn::before{
	content: "";
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-animation: playbtn 2s ease-out infinite;
    animation: playbtn 2s ease-out infinite;
	z-index: -1;
}
.video_btn::after{
	content: "";
    width: 70px;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border: 1px solid#fff;
    border-radius: 50%;
    -webkit-animation: playbtn1 2s ease-out infinite;
    animation: playbtn1 2s ease-out infinite;
	z-index: -1;
}

@-webkit-keyframes playbtn{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    25%{
        transform: scale(1.3);
        opacity: .4;
    }
    50%{
        transform: scale(1.5);
        opacity: 1.5;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}


@keyframes playbtn{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    25%{
        transform: scale(1.3);
        opacity: .4;
    }
    50%{
        transform: scale(1.5);
        opacity: 1.5;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}

@-webkit-keyframes playbtn1{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    25%{
        transform: scale(1.3);
        opacity: .4;
    }
    50%{
        transform: scale(1.5);
        opacity: 1.5;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes playbtn1{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    25%{
        transform: scale(1.3);
        opacity: .4;
    }
    50%{
        transform: scale(1.5);
        opacity: 1.5;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}